* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/");
  src: url("../../fonts/poppins/Poppins-Italic.eot");
  src: url("../../fonts/poppins/Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-Italic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Italic.woff") format("woff"), url("../../fonts/poppins/Poppins-Italic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Italic.svg#Poppins-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-ExtraBoldItalic.eot");
  src: url("../../fonts/poppins/Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraBoldItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-Bold.eot");
  src: url("../../fonts/poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Bold.woff") format("woff"), url("../../fonts/poppins/Poppins-Bold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-Black.eot");
  src: url("../../fonts/poppins/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-Black.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Black.woff") format("woff"), url("../../fonts/poppins/Poppins-Black.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Black.svg#Poppins-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-ExtraLightItalic.eot");
  src: url("../../fonts/poppins/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraLightItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-ExtraBold.eot");
  src: url("../../fonts/poppins/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraBold.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-BlackItalic.eot");
  src: url("../../fonts/poppins/Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-BlackItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-BlackItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-BlackItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-BlackItalic.svg#Poppins-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-BoldItalic.eot");
  src: url("../../fonts/poppins/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-BoldItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-BoldItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-BoldItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-BoldItalic.svg#Poppins-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-ExtraLight.eot");
  src: url("../../fonts/poppins/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ExtraLight.woff") format("woff"), url("../../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ExtraLight.svg#Poppins-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-ThinItalic.eot");
  src: url("../../fonts/poppins/Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-ThinItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-ThinItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-ThinItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-ThinItalic.svg#Poppins-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-Regular.eot");
  src: url("../../fonts/poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Regular.woff") format("woff"), url("../../fonts/poppins/Poppins-Regular.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-MediumItalic.eot");
  src: url("../../fonts/poppins/Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-MediumItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-MediumItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-MediumItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-MediumItalic.svg#Poppins-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-Medium.eot");
  src: url("../../fonts/poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-Medium.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Medium.woff") format("woff"), url("../../fonts/poppins/Poppins-Medium.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-Thin.eot");
  src: url("../../fonts/poppins/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-Thin.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Thin.woff") format("woff"), url("../../fonts/poppins/Poppins-Thin.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Thin.svg#Poppins-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-LightItalic.eot");
  src: url("../../fonts/poppins/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-LightItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-LightItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-LightItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-LightItalic.svg#Poppins-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-SemiBold.eot");
  src: url("../../fonts/poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../../fonts/poppins/Poppins-SemiBold.woff") format("woff"), url("../../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"), url("../../fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-SemiBoldItalic.eot");
  src: url("../../fonts/poppins/Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../../fonts/poppins/Poppins-SemiBoldItalic.woff") format("woff"), url("../../fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype"), url("../../fonts/poppins/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-Light.eot");
  src: url("../../fonts/poppins/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/poppins/Poppins-Light.woff2") format("woff2"), url("../../fonts/poppins/Poppins-Light.woff") format("woff"), url("../../fonts/poppins/Poppins-Light.ttf") format("truetype"), url("../../fonts/poppins/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebas_neue/BebasNeue-Regular.woff2") format("woff2"), url("../../fonts/bebas_neue/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebas_neue/BBebasNeue-Regular.woff2") format("woff2"), url("../../fonts/bebas_neue/BBebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebas_neue/BebasNeue-Regular.woff2") format("woff2"), url("../../fonts/bebas_neue/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebas_neue/BebasNeue-Regular.woff2") format("woff2"), url("../../fonts/bebas_neue/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
section.inicio .suenabien a.button {
  display: inline-block;
  font-weight: 600;
  font-size: 1.2rem;
  width: 450px;
  padding: 20px 50px;
  border-radius: 25px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  background-color: #ffd133;
  color: black;
  text-decoration: none;
}
section.inicio .suenabien a.button:hover {
  background-color: rgb(255, 197.5, 0);
  box-shadow: 0px 5px 12px black;
  transform: translateY(-3px);
}

footer nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer nav {
    flex-direction: row;
    gap: 20px;
  }
}
footer .links-legal {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .links-legal {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
  }
}
#contact-form {
  padding: 10px;
  justify-content: center;
  max-width: 100%;
}
#contact-form iframe {
  max-width: 90vw;
  border: 0px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 0px rgba(29, 29, 29, 0.5);
  height: 1000px;
}
@media (min-width: 768px) {
  #contact-form iframe {
    border: 1px solid rgba(29, 29, 29, 0.5);
    border-radius: 10px;
    background-color: rgb(250, 250, 246);
    box-shadow: 1px 1px 20px 0px rgba(29, 29, 29, 0.5);
  }
}

header {
  box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.3);
}
header nav ul {
  display: none;
}
@media (min-width: 768px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #ffd133;
}
section.inicio {
  padding-bottom: 100px;
  margin: 0 12%;
}
section.inicio h1 {
  font-size: 2.2rem;
  text-align: left;
  padding: 50px 0;
}
@media (min-width: 768px) {
  section.inicio h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  section.inicio h1 {
    font-size: 4rem;
  }
}
section.inicio .suenabien p {
  font-size: 1.5rem;
}
section.inicio .suenabien ul {
  padding: 80px 5%;
  list-style: circle;
  line-height: 2rem;
}
section.inicio .suenabien span {
  color: grey;
}
section.inicio .suenabien span.hidden {
  color: white;
}
section.inicio .suenabien .buttons {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 75px auto;
}
@media (min-width: 1200px) {
  section.inicio .suenabien .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
section.inicio .suenabien a.button {
  width: auto;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  section.inicio .suenabien a.button {
    font-size: 1.2rem;
    width: 450px;
  }
}

section#efficiency {
  background-color: rgb(250, 250, 246);
  padding: 100px 0 100px 0;
}
section#efficiency .effectivity {
  margin: 0 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 12%;
}
section#efficiency .effectivity figure.iconsvg figcaption {
  font-weight: 600;
}
@media (min-width: 768px) {
  section#efficiency .effectivity figure.iconsvg figcaption {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  section#efficiency .effectivity figure.iconsvg.reloj-figure svg {
    width: 200px;
  }
  section#efficiency .effectivity figure.iconsvg.calc-figure svg {
    width: 130px;
  }
}
section#efficiency .acelera {
  background-color: rgb(29, 29, 29);
  text-align: left;
  color: white;
  width: 100%;
  padding: 100px 12%;
  font-weight: 600;
}
@media (min-width: 768px) {
  section#efficiency .acelera {
    font-size: 2rem;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  section#efficiency .acelera {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  section#efficiency .acelera {
    font-size: 3rem;
  }
}
section#efficiency .comparativa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 100px;
  margin: 100px 12%;
}
@media (min-width: 768px) {
  section#efficiency .comparativa {
    justify-content: space-between;
    gap: 0;
    flex-direction: row;
    text-align: left;
  }
}
section#efficiency .comparativa .logo {
  width: 200px;
  margin-bottom: 35px;
  transform: translateY(10px);
}
section#efficiency .comparativa .comparativa__tradicional p {
  margin-bottom: 25px;
  font-size: 2.1rem;
  font-weight: 500;
}
section#efficiency .comparativa .comparativa__tradicional figure svg {
  position: absolute;
  opacity: 0.35;
  z-index: 0;
  display: none;
  transform: translate(4rem, -16rem) rotate(280deg);
  box-sizing: border-box;
}
section#efficiency .comparativa .comparativa__tradicional figure svg .cls-1 {
  fill: red;
  opacity: 0.3;
}
@media (min-width: 768px) {
  section#efficiency .comparativa .comparativa__tradicional figure svg {
    transform: translate(5rem, -16rem) rotate(280deg);
  }
}
@media (min-width: 1024px) {
  section#efficiency .comparativa .comparativa__tradicional figure svg {
    transform: translate(5rem, -16rem) rotate(280deg);
  }
}
@media (min-width: 1200px) {
  section#efficiency .comparativa .comparativa__tradicional figure svg {
    display: flex;
  }
  section#efficiency .comparativa .comparativa__tradicional figure svg .cls-1 {
    fill: #ffd133;
    opacity: 0.6;
  }
  section#efficiency .comparativa .comparativa__tradicional figure svg:hover .cls-1 {
    fill: red;
  }
}
section#efficiency .comparativa ul {
  list-style: none;
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
}
@media (min-width: 1200px) {
  section#efficiency .comparativa ul {
    font-size: 1.5rem;
  }
}
section#efficiency section.aclarativo {
  color: grey;
  font-size: 1rem;
  margin: 0px 12%;
}

section#human-ia {
  padding: 100px 0;
  margin: 0px 12%;
}
section#human-ia h2 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}
section#human-ia p.human-ia__nextlevel {
  font-size: 1.5rem;
}
section#human-ia p.human-ia__nextlevel strong {
  font-weight: 500;
}
section#human-ia .pasos-movil > p {
  padding: 50px 0 20px 0;
  font-size: 2rem;
  color: rgb(29, 29, 29);
}
section#human-ia ol {
  padding: 5% 2%;
}
@media (min-width: 768px) {
  section#human-ia ol {
    border: 1px solid rgba(29, 29, 2, 0.5);
    box-shadow: 0px -1px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: rgb(250, 250, 246);
  }
}
section#human-ia ol li {
  padding: 20px 0;
}
section#human-ia ol li p {
  font-weight: 600;
}
@media (min-width: 768px) {
  section#human-ia ol li p {
    font-size: 1.5rem;
    padding: 10px;
  }
}
section#human-ia ol ::marker {
  font-size: 1.1rem;
  color: #ffd133;
}
section#human-ia ol figure {
  padding: 50px 0 10px 0;
  display: flex;
  justify-content: center;
}
section#human-ia ol figure svg {
  max-width: 200px;
  max-height: 200px;
}

section#demos {
  color: white;
  background-color: rgb(29, 29, 29);
  padding: 100px 12%;
}
section#demos svg {
  max-width: 200px;
  max-height: 200px;
}
section#demos h2 {
  font-size: 3rem;
  padding-bottom: 50px;
}
section#demos h3 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  section#demos h3 {
    font-size: 2rem;
    font-weight: 600;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 50px 0;
  }
}
section#demos article {
  padding: 0 0 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section#demos article figure {
  align-self: center;
  justify-items: center;
}
section#demos svg {
  display: none;
}
@media (min-width: 768px) {
  section#demos svg {
    display: flex;
  }
}
section#demos svg .cls-1 {
  fill: white;
}
section#demos svg .cls-2 {
  fill: black;
}
section#demos svg .cls-3 {
  fill: #ffd133;
}
section#demos .demo-rrss.titulonudista {
  padding: 0 0 50px 0;
}
section#demos iframe {
  max-width: 250px;
}
@media (min-width: 768px) {
  section#demos iframe {
    max-width: 450px;
  }
}

section#contact-form h2 {
  font-size: 1.2rem;
  margin: 50px 12%;
  font-weight: 500;
}
@media (min-width: 768px) {
  section#contact-form h2 {
    font-size: 2rem;
    text-align: center;
    height: 2px;
    margin: 100px 12%;
  }
}
section#contact-form section {
  display: flex;
  flex-direction: column;
}
section#contact-form section p {
  color: rgb(29, 29, 29);
  margin: 0 0 20px 12%;
}
@media (min-width: 768px) {
  section#contact-form section p {
    margin: 0;
    padding: 50px;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  section#contact-form section {
    align-items: center;
  }
}
section#contact-form figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 250px;
}

a.header-logo figure img {
  width: 200px;
}

span.highlight {
  color: #ffd133;
}

header,
footer {
  background: black;
  padding: 20px 50px;
  box-shadow: 0px -1px 10px 5px rgba(0, 0, 0, 0.3);
}
header nav,
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul,
footer nav ul {
  display: none;
}
@media (min-width: 768px) {
  header nav ul,
  footer nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ffd133;
}

svg {
  max-width: 150px;
}

.hook {
  background-color: #ffd133;
  font-weight: 600;
  padding: 100px 12%;
  box-shadow: 0px -1px 10px 5px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}
.hook p.quote {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .hook {
    font-size: 3rem;
  }
  .hook p.quote {
    font-size: 2rem;
    font-weight: 500;
  }
}

svg .cls-1 {
  fill: #ffd133;
  fill-rule: evenodd;
}
svg .cls-2 {
  fill: black;
  fill-rule: evenodd;
}
svg .cls-3 {
  fill: grey;
}

html {
  font-family: "Poppins";
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
