/* ICONOS GENERAL */
/* borde iconos */
figure.iconsvg {
  width: 90px;
  fill: black;
}
/* relleno iconos */
figure.iconsvg .cls-1 {
  fill: var(--yellowdigitalks, #ffd133);
}
figure.iconsvg .cls-2 {
  fill: black;
}
/* relleno iconos */
figure.iconsvg .cls-1:hover {
  fill: #ffffff;
}

main section.first-text ul li {
  list-style: none;
  font-family: "Poppins-med";
  font-size: clamp(0.9rem, 2vw, 1.1rem); /* Tamaño fluido */
}
