$bp-phone: 450px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$global-font-size: 18px;
$primary-font: "Poppins";
$color-corporate: #ffd133;
$secondary-color-corporate-blue: rgb(33 197 244);
