/* DEMOS */

#demos {
  font-family: "Poppins-nor";
  padding: 10px;
  background-color: rgb(38 38 38);
  padding-left: 25px;
  padding-bottom: 5rem;

  h2 {
    padding-left: 15%;
    font-family: "Poppins-med";
    color: white;
    font-size: 2rem;
  }

  h3 {
    font-family: "Poppins-med";
    color: white;
    font-size: 2rem;
  }
}

.demos-iframes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  #demos .iconsvg {
    display: none;
  }
  #demos {
    display: grid;
    h2 {
      font-size: 50px;
      padding: 0;
    }
    text-align: left;
  }
  #demos {
    .audiolibros,
    .demo-rrss,
    .audiodescripciones,
    .elearnings {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 768px) {
  .demos-iframes {
    h3 {
      text-align: center;
    }

    article,
    .demo-rrss > p:first-child,
    article section {
      margin: auto;
      padding: 0;
    }

    flex-direction: column;
  }
}
.demos-iframes {
  h3,
  article iframe {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h3 {
    border-top: rgb(77, 77, 77, 0.2) 1px solid;
  }
}

/* GRID AREAS DEMOS */

.demos-iframes {
  .audiolibros,
  .audiodescripciones,
  .demo-rrss,
  .elearnings {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: ". left2grid right3grid .";
  }

  .left2grid {
    grid-area: left2grid;
  }

  .right3grid {
    grid-area: right3grid;
    justify-self: center;
  }

  .audiodescripciones > iframe {
    margin: 0px 10px 10px 0px;
  }

  article.audiodescripciones .iframes-ad {
    gap: 15px;
  }
}
.demos-iframes {
  article p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    color: grey;
    font-size: 0.9rem;
  }

  .demo-rrss > p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    color: grey;
    font-size: 0.9rem;

    &:first-child {
      padding-bottom: 0;
      padding-top: 10px;
    }
  }

  h3 {
    padding-top: 50px;
  }

  article {
    &.audiodescripciones iframe,
    &.elearnings iframe,
    &.audiolibros iframe,
    &.demo-rrss iframe {
      border-radius: 50px;
      max-width: 400px;
      height: 60px;
    }
  }
}

.demos-iframes {
  .titulonudista {
    display: grid;
    grid-template-areas: ". garea . .";
    grid-template-columns: 1fr 2fr 2fr 1fr;
    justify-items: left;
    align-items: center;

    p {
      grid-area: garea;
      margin: 0;
      padding: 0;
    }
  }
}
.demo-rrss p > span {
  color: white;
}

.audiolibros {
  p > span {
    color: white;
  }

  figure.iconsvg.libro-figure .cls-1 {
    fill: #fff;
  }
}

/* svg AUDIOLIBROS */

.iconsvg.libro-figure {
  .cls-2 {
    fill: #4d4d4d;
  }

  .cls-3 {
    fill: var(--yellowdigitalks, #ffd133);

    &:hover {
      fill: grey;
    }
  }
}
/* svg WEB y RRSS */

.demo-rrss figure.iconsvg.web-figure .cls-1 {
  fill: #fff;
}

.iconsvg.web-figure {
  .cls-2 {
    fill: #4d4d4d;
  }

  .cls-3 {
    fill: var(--yellowdigitalks, #ffd133);
  }
}

article.demo-rrss {
  display: flex;
}

/* svg AUDIODESCRIPCIONES */

.audiodescripciones figure.iconsvg.audio-description {
  .cls-1 {
    stroke: #000;
    fill: var(--yellowdigitalks, #ffd133);
    stroke-miterlimit: 10;
  }

  .cls-2 {
    fill: var(--yellowdigitalks, #ffd133);
    stroke-width: 2.5px;
    stroke-miterlimit: 10;
    stroke: #4d4d4d;
  }

  .cls-3 {
    fill: #fff;
    stroke-miterlimit: 10;
    stroke: #4d4d4d;
  }
}

/* svg E-LEARNINGS */

.elearnings figure.iconsvg.mundo-figure2 {
  .cls-1 {
    fill: #4d4d4d;

    &:hover {
      fill: #4d4d4d;
    }
  }

  .cls-2 {
    fill: white;

    &:hover {
      fill: var(--yellowdigitalks, #ffd133);
    }
  }
}

/* ---------- */

article.demo-rrss {
  display: flex;
}

.demos-iframes .iconsvg {
  width: 15rem;
  align-self: center;

  &.audio-description .cls-1 {
    fill: var(--yellowdigitalks, #ffd133);

    &:hover {
      fill: white;
    }
  }

  &.libro-figure {
    fill: var(--yellowdigitalks, #ffd133);

    .cls-1 {
      fill: black;

      &:hover {
        fill: white;
      }
    }
  }

  &.web-figure .cls-1 {
    fill: var(--yellowdigitalks, #ffd133);

    &:hover {
      fill: white;
    }
  }

  &.mundo-figure2 {
    .cls-2 {
      fill: var(--yellowdigitalks, #ffd133);
    }

    .cls-1:hover {
      fill: white;
    }
  }
}

@media (max-width: 768px) {
  .demos-iframes .iconsvg {
    width: 5rem;
    align-self: center;
  }
}
