@use "../components/buttons" as buttons;
@use "../abstracts/abstracts" as abstracts;

footer {
  nav {
    display: flex;
    flex-direction: column;
    @include abstracts.breakpoint(tablet) {
      flex-direction: row;
      gap: 20px;
    }
  }
  .links-legal {
    display: flex;
    flex-direction: column;
    @include abstracts.breakpoint(phone) {
    }
    @include abstracts.breakpoint(tablet) {
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      justify-content: space-between;
    }
    @include abstracts.breakpoint(tablet-horizontal) {
    }
    @include abstracts.breakpoint(desktop) {
    }
    @include abstracts.breakpoint(desktop-xl) {
    }
  }
}
