@use "../components/buttons" as buttons;
@use "../abstracts/abstracts" as abstracts;

header {
  box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.3);
  nav {
    ul {
      display: none;
      @include abstracts.breakpoint(tablet) {
        display: flex;
        flex-direction: row;
        gap: 50px;
      }
      li {
        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: abstracts.$color-corporate;
          }
        }
      }
    }
    @include abstracts.breakpoint(tablet) {
    }
    @include abstracts.breakpoint(tablet-horizontal) {
    }
    @include abstracts.breakpoint(desktop) {
    }
    @include abstracts.breakpoint(desktop-xl) {
    }
  }
}
