@font-face {
  font-family: "icons-digitalks";
  src: url("./fonts/icons-digitalks.eot");
  src: url("./fonts/icons-digitalks.eot") format("embedded-opentype"),
    url("./fonts/icons-digitalks.woff") format("woff2"),
    url("./fonts/icons-digitalks.ttf") format("truetype"),
    url("./fonts/icons-digitalks.svg") format("svg");
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between; /* Distribuye el h1 y el nav */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 10px 20px; /* Espaciado alrededor del header */
}

header h1 {
  letter-spacing: -0.05em;
  font-size: 2.4em;
  margin: 0; /* Elimina el margen predeterminado */
}

header h1 span:first-child {
  color: grey;
  font-weight: bold;
  font-size: 0.8em;
}

header h1 span:nth-of-type(2) {
  font-weight: 500;
  color: black;
}

header h1 span:nth-of-type(3) {
  color: #f0bc5e;
  text-decoration: underline solid 1px;
  text-underline-offset: 0.2em;
}

header h1 span:nth-of-type(4) {
  color: black;
  font-weight: 500;
}

header nav {
  margin: 0; /* Elimina márgenes predeterminados */
  padding: 0; /* Elimina relleno predeterminado */
}

header nav ul {
  display: flex; /* Coloca los elementos en fila horizontal */
  gap: 2em; /* Añade espacio entre los elementos */
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina relleno */
}

header nav ul li {
  list-style-type: none;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header nav a:hover {
  text-decoration: none;
  color: #f0bc5e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #f0bc5e;
}
