@font-face {
  font-family: "Poppins";
  src: url("Poppins-Italic.eot");
  src: url("Poppins-Italic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Italic.woff2") format("woff2"),
    url("Poppins-Italic.woff") format("woff"),
    url("Poppins-Italic.ttf") format("truetype"),
    url("Poppins-Italic.svg#Poppins-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBoldItalic.eot");
  src: url("Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-ExtraBoldItalic.woff2") format("woff2"),
    url("Poppins-ExtraBoldItalic.woff") format("woff"),
    url("Poppins-ExtraBoldItalic.ttf") format("truetype"),
    url("Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-bold";
  src: url("./fonts/fonts/Poppins-Bold.eot");
  src: url("./fonts/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./fonts/fonts/Poppins-Bold.woff") format("woff"),
    url("./fonts/fonts/Poppins-Bold.ttf") format("truetype"),
    url("./fonts/fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-black";
  src: url("fonts/fonts/poppins/Poppins-Black.eot");
  src: url("fonts/fonts/poppins/Poppins-Black.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fonts/poppins/Poppins-Black.woff2") format("woff2"),
    url("fonts/fonts/poppins/Poppins-Black.woff") format("woff"),
    url("fonts/fonts/poppins/Poppins-Black.ttf") format("truetype"),
    url("fonts/fonts/poppins/Poppins-Black.svg#Poppins-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLightItalic.eot");
  src: url("Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-ExtraLightItalic.woff2") format("woff2"),
    url("Poppins-ExtraLightItalic.woff") format("woff"),
    url("Poppins-ExtraLightItalic.ttf") format("truetype"),
    url("Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-boldextra";
  src: url("fonts/fonts/poppins/Poppins-ExtraBold.eot");
  src: url("fonts/fonts/poppins/Poppins-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("fonts/fonts/poppins/Poppins-ExtraBold.woff") format("woff"),
    url("fonts/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"),
    url("fonts/fonts/poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-BlackItalic.eot");
  src: url("Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-BlackItalic.woff2") format("woff2"),
    url("Poppins-BlackItalic.woff") format("woff"),
    url("Poppins-BlackItalic.ttf") format("truetype"),
    url("Poppins-BlackItalic.svg#Poppins-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-BoldItalic.eot");
  src: url("Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-BoldItalic.woff2") format("woff2"),
    url("Poppins-BoldItalic.woff") format("woff"),
    url("Poppins-BoldItalic.ttf") format("truetype"),
    url("Poppins-BoldItalic.svg#Poppins-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLight.eot");
  src: url("Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("Poppins-ExtraLight.woff2") format("woff2"),
    url("Poppins-ExtraLight.woff") format("woff"),
    url("Poppins-ExtraLight.ttf") format("truetype"),
    url("Poppins-ExtraLight.svg#Poppins-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ThinItalic.eot");
  src: url("Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-ThinItalic.woff2") format("woff2"),
    url("Poppins-ThinItalic.woff") format("woff"),
    url("Poppins-ThinItalic.ttf") format("truetype"),
    url("Poppins-ThinItalic.svg#Poppins-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: url("Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.ttf") format("truetype"),
    url("Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-MediumItalic.eot");
  src: url("Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-MediumItalic.woff2") format("woff2"),
    url("Poppins-MediumItalic.woff") format("woff"),
    url("Poppins-MediumItalic.ttf") format("truetype"),
    url("Poppins-MediumItalic.svg#Poppins-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-med";
  src: url("fonts/fonts/poppins/Poppins-Medium.eot");
  src: url("fonts/fonts/poppins/Poppins-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("fonts/fonts/poppins/Poppins-Medium.woff") format("woff"),
    url("fonts/fonts/poppins/Poppins-Medium.ttf") format("truetype"),
    url("fonts/fonts/poppins/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-nor";
  src: url("fonts/fonts/poppins/Poppins-Thin.eot");
  src: url("fonts/fonts/poppins/Poppins-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fonts/poppins/Poppins-Thin.woff2") format("woff2"),
    url("fonts/fonts/poppins/Poppins-Thin.woff") format("woff"),
    url("fonts/fonts/poppins/Poppins-Thin.ttf") format("truetype"),
    url("fonts/fonts/poppins/Poppins-Thin.svg#Poppins-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/fonts/poppins/Poppins-LightItalic.eot");
  src: url("fonts/fonts/poppins/Poppins-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fonts/poppins/Poppins-LightItalic.woff2") format("woff2"),
    url("fonts/fonts/poppins/Poppins-LightItalic.woff") format("woff"),
    url("fonts/fonts/poppins/Poppins-LightItalic.ttf") format("truetype"),
    url("fonts/fonts/poppins/Poppins-LightItalic.svg#Poppins-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-sembold";
  src: url("fonts/fonts/poppins/Poppins-SemiBold.eot");
  src: url("fonts/fonts/poppins/Poppins-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("fonts/fonts/poppins/Poppins-SemiBold.woff") format("woff"),
    url("fonts/fonts/poppins/Poppins-SemiBold.ttf") format("truetype"),
    url("fonts/fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBoldItalic.eot");
  src: url("Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("Poppins-SemiBoldItalic.woff") format("woff"),
    url("Poppins-SemiBoldItalic.ttf") format("truetype"),
    url("Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-lig";
  src: url("fonts/fonts/poppins/Poppins-Light.eot");
  src: url("fonts/fonts/poppins/Poppins-Light.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fonts/poppins/Poppins-Light.woff2") format("woff2"),
    url("fonts/fonts/poppins/Poppins-Light.woff") format("woff"),
    url("fonts/fonts/poppins/Poppins-Light.ttf") format("truetype"),
    url("fonts/fonts/poppins/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/fonts/ubuntu/Ubuntu.eot");
  src: url("./fonts/fonts/ubuntu/Ubuntu.eot?#iefix") format("embedded-opentype"),
    url("./fonts/fonts/ubuntu/Ubuntu.woff2") format("woff2"),
    url("./fonts/fonts/ubuntu/Ubuntu.woff") format("woff"),
    url("./fonts/fonts/ubuntu/Ubuntu.ttf") format("truetype"),
    url("./fonts/fonts/ubuntu/Ubuntu.svg#Ubuntu") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icons-digitalks";
  src: url("fonts/icons-digitalks.eot?hvgf99");
  src: url("fonts/icons-digitalks.eot?hvgf99#iefix") format("embedded-opentype"),
    url("fonts/icons-digitalks.ttf?hvgf99") format("truetype"),
    url("fonts/icons-digitalks.woff?hvgf99") format("woff"),
    url("fonts/icons-digitalks.svg?hvgf99#icons-digitalks") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons-digitalks" !important;
  font-style: normal;
  font-weight: 800;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alexa:before {
  content: "\e900";
}
.icon-amazon:before {
  content: "\e901";
}
.icon-android:before {
  content: "\e902";
}
.icon-apple:before {
  content: "\e903";
}
.icon-archive:before {
  content: "\e904";
}
.icon-at:before {
  content: "\e905";
}
.icon-ban:before {
  content: "\e906";
}
.icon-bluetooth:before {
  content: "\e907";
}
.icon-bookmarks:before {
  content: "\e908";
}
.icon-brightness-high:before {
  content: "\e909";
}
.icon-calendar-date:before {
  content: "\e90a";
}
.icon-clock1:before {
  content: "\e90b";
}
.icon-cloud-arrow-down:before {
  content: "\e90c";
}
.icon-cloud-arrow-up:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-controller:before {
  content: "\e90f";
}
.icon-cup-hot:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-earbuds:before {
  content: "\e912";
}
.icon-emoji-smile:before {
  content: "\e913";
}
.icon-envelope-at:before {
  content: "\e914";
}
.icon-envelope:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-file-earmark-text:before {
  content: "\e917";
}
.icon-floppy:before {
  content: "\e918";
}
.icon-gear:before {
  content: "\e919";
}
.icon-geo-alt:before {
  content: "\e91a";
}
.icon-github1:before {
  content: "\e91b";
}
.icon-heart:before {
  content: "\e91c";
}
.icon-hourglass:before {
  content: "\e91d";
}
.icon-house:before {
  content: "\e91e";
}
.icon-link-45deg:before {
  content: "\e91f";
}
.icon-link:before {
  content: "\e920";
}
.icon-linkedin:before {
  content: "\e921";
}
.icon-lock1:before {
  content: "\e922";
}
.icon-mic-mute:before {
  content: "\e923";
}
.icon-mic:before {
  content: "\e924";
}
.icon-mortarboard:before {
  content: "\e925";
}
.icon-people:before {
  content: "\e926";
}
.icon-person-arms-up:before {
  content: "\e927";
}
.icon-piggy-bank:before {
  content: "\e928";
}
.icon-play-circle:before {
  content: "\e929";
}
.icon-playstation:before {
  content: "\e92a";
}
.icon-plug:before {
  content: "\e92b";
}
.icon-qr-code-scan:before {
  content: "\e92c";
}
.icon-question-diamond:before {
  content: "\e92d";
}
.icon-record-circle:before {
  content: "\e92e";
}
.icon-refresh:before {
  content: "\e92f";
}
.icon-repear:before {
  content: "\e930";
}
.icon-skype:before {
  content: "\e931";
}
.icon-slack:before {
  content: "\e932";
}
.icon-spotify:before {
  content: "\e933";
}
.icon-star:before {
  content: "\e934";
}
.icon-steam:before {
  content: "\e935";
}
.icon-tags:before {
  content: "\e936";
}
.icon-telephone:before {
  content: "\e937";
}
.icon-trash:before {
  content: "\e938";
}
.icon-twitch:before {
  content: "\e939";
}
.icon-upload:before {
  content: "\e93a";
}
.icon-whatsapp:before {
  content: "\e93b";
}
.icon-xbox:before {
  content: "\e93c";
}
.icon-youtube:before {
  content: "\e93d";
}
.icon-zoom-in:before {
  content: "\e93e";
}
.icon-zoom-out:before {
  content: "\e93f";
}
.icon-eyedropper:before {
  content: "\e940";
}
.icon-image:before {
  content: "\e941";
}
.icon-headphones:before {
  content: "\e942";
}
.icon-file-empty:before {
  content: "\e943";
}
.icon-barcode:before {
  content: "\e944";
}
.icon-compass:before {
  content: "\e949";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
* {
  box-sizing: border-box;
}

/* RESPONSIVE MOVIL */
html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 1.8rem; /* Ajusta el tamaño de encabezados */
    line-height: 1.4;
  }

  p {
    font-size: 1.2rem; /* Aumenta el tamaño del texto normal */
    line-height: 1.6;
  }

  li {
    font-size: 2rem; /* Mejora la legibilidad de listas */
  }
}

@media (max-width: 768px) {
  header section,
  footer section {
    padding: 10px; /* Espacio más amplio en dispositivos pequeños */
  }

  main .inicio {
    text-align: left; /* Mejor alineación del contenido */
  }

  .first-text ul li {
    margin-bottom: 10px; /* Mejora la separación de listas */
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 10px;
    text-align: center;
  }

  header,
  main,
  footer {
    margin: 0 auto;
    max-width: 100%; /* Evita márgenes innecesarios */
  }

  .first-text h1 {
    font-size: 2.2rem;
  }
}

header nav ul li a,
footer nav a {
  font-size: 1.2rem; /* Incrementa el tamaño del texto */
}

header nav ul li a:hover {
  color: #ffd133; /* Mejora el contraste en hover */
}

/* GENERAL */
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-size: 18px;
  font-family: sans-serif, Helvetica, Arial;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: white;
}

.nomarginnopadding {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.highlight {
  color: #ffd133;
  font-weight: bold;
  font-size: 1.1em;
}

strong {
  font-size: 1.1em;
}

/* HEADER */
header {
  margin: 0;
}
header section {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 10px;
}
header .header-logo {
  display: flex;
  align-items: center;
}
header p {
  font-family: "Poppins-sembold";
  font-size: clamp(2rem, 2vw, 2rem); /* Tamaño fluido */
  letter-spacing: -0.08rem;
  margin: 0;
}
header p span:first-child {
  font-weight: 600;
  color: #ffd133;
}
header p span:nth-of-type(2) {
  color: white;
}
header p span:nth-of-type(3) {
  color: #ccc;
  font-size: clamp(1.2rem, 2.5vw, 2rem); /* Tamaño fluido */
}

/* NAVIGATION */
header nav {
  font-family: "Poppins-med";
  font-weight: bold;
  margin: 0;
  padding: 0;
}
header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
header nav ul li {
  font-size: clamp(1rem, 2vw, 1.2rem); /* Tamaño fluido */
}
header nav a {
  text-decoration: none;
  color: white;
}
header nav a:hover {
  color: #ffd133;
}

/* MAIN */

main .inicio {
  text-align: center;
  max-width: 100%;
}

section.landing {
  margin: 0;
  padding: 0;
}

section.landing1 {
  max-width: 80%;
  margin: auto;
}

.first-text,
.inicio {
  margin: 0;
  padding: 0;
}

.landing1 .first-text p:nth-of-type(1),
.landing1 .first-text p:nth-of-type(2),
.landing1 .first-text p:nth-of-type(3),
.landing1 .first-text p:nth-of-type(4),
.landing1 .first-text p:nth-of-type(5),
.landing1 .first-text p:nth-of-type(6) {
  font-size: 1.2rem;
  text-align: left;
}

.landing2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
@media (max-width: 768px) {
  .landing2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.suenabien {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 0.1rem 0 5rem 0;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .suenabien {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
    padding: 0.1rem 1rem 0 1rem;
    font-size: 3rem;
  }
}
.icon-earbuds {
  text-align: center;
  padding: 1.2rem 0 0 0;
  color: grey;
}
.icon-earbuds:hover {
  color: #ccc;
}

.suenabien > p {
  padding: 0;
  margin: 0;
}
.suenabien > p:first-child {
  padding-top: 3rem;
}

.suenabien ul {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 1rem 0 1rem 0;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .suenabien ul {
    gap: 0.5rem;
  }
  .suenabien p {
    font-size: 2rem;
  }

  .suenabien ul li a {
    font-size: 2rem;
  }
}

.iconsvg.play-figure {
  min-width: 6rem;
  width: 26rem;
}
.iconsvg.play-figure .cls-1:hover {
  fill: gold;
}

@media (max-width: 768px) {
  .iconsvg.play-figure {
    width: 6rem;
    padding: 1rem 0 2rem 0;
  }
}

.inicio a:hover {
  color: #ffd133;
}

.first-text {
  max-width: 100%;
}

.inicio {
  padding: 0;
  margin: 0;
}

.home-pic {
  max-width: 100%;
  justify-content: center;
  text-align: center;
}

.hacemosesto {
  display: flex;
  flex-direction: column;
}

.digitalks-logo {
  margin: 0;
  padding: 0;
}
.digitalks-logo > p span:first-child {
  font-size: clamp(2rem, 3vw, 3rem); /* Tamaño fluido */
  letter-spacing: -0.08rem;
  margin: 0;
  font-family: "Poppins-sembold";
  font-weight: 600;
  color: #ffd133;
}
.digitalks-logo > p span:nth-of-type(2) {
  font-size: clamp(2rem, 3vw, 3rem); /* Tamaño fluido */
  letter-spacing: -0.08rem;
  margin: 0;
  font-family: "Poppins-sembold";
  color: black;
}
.digitalks-logo > p span:nth-of-type(3) {
  font-size: clamp(2rem, 3vw, 3rem); /* Tamaño fluido */
  letter-spacing: -0.08rem;
  margin: 0;
  font-family: "Poppins-sembold";
  color: #ccc;
  font-size: clamp(1.2rem, 2.5vw, 2rem); /* Tamaño fluido */
}

.fgr-logo-digitalks-ai,
.logo-digitalks-ai {
  margin: 0;
  padding: 0;
}

.fgr-logo-digitalks-ai {
  justify-self: center;
  height: 100px; /* Alto del área visible */
  overflow: hidden; /* Ocultar el contenido fuera de este marco */
  display: flex;
}

.logo-digitalks-ai {
  justify-self: center;
  width: 350px; /* Ancho original de la imagen */
  height: auto; /* Mantener proporción original */
  object-fit: cover; /* Asegurar que la imagen llene el contenedor sin distorsionarse */
  object-position: center; /* Centrar la parte visible */
}

main p {
  font-family: "Poppins-med", Arial, Helvetica, sans-serif;
}

main section h1 {
  font-family: "Poppins-med";
  font-size: clamp(1.5rem, 3.5vw, 4rem); /* Tamaño fluido */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}
main section p {
  font-size: clamp(0.9rem, 2vw, 1em); /* Tamaño fluido */
}

section.effectivity {
  display: flex;
  background-image: linear-gradient(white, rgb(251, 251, 248));
  justify-content: center;
  gap: 5%;
  align-items: baseline;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.iconodeprueba {
  fill: black;
}
.iconodeprueba .cls-1 {
  fill: white;
}
.iconodeprueba .cls-2 {
  fill: grey;
}

.effectivity figure {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  width: 100px;
  justify-content: baseline;
  align-items: baseline;
}

/* ICONOS GENERAL */
/* borde iconos */
figure.iconsvg {
  width: 90px;
  fill: black;
}
/* relleno iconos */
figure.iconsvg .cls-1 {
  fill: #ffd133;
}
figure.iconsvg .cls-2 {
  fill: black;
}
/* relleno iconos */
figure.iconsvg .cls-1:hover {
  fill: #ffffff;
}

main section.first-text ul li {
  list-style: none;
  font-family: "Montserrat-reg";
  font-size: clamp(0.9rem, 2vw, 1.1rem); /* Tamaño fluido */
}

/* MAIN EFICIENCIA */
#efficiency {
  display: flex;
  flex-direction: column;
}
.hook.rapidos i {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .hook.rapidos {
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
  }
}
.hook.naturales i {
  font-size: 2rem;
}
.hook {
  margin: 0;
  padding: 0;
  border-top: #ffd133 1px solid;
  border-bottom: #ffd133 1px solid;
  margin: auto;
  font-size: 1.3rem;
}

.hook1 {
  background-color: #ffd133;
  display: grid;
  justify-content: center;
}

.quote {
  padding: 30px 0 30px 0;
  border: 0px;
  color: black;
  font-size: 1.7rem;
  /* padding-right: 18rem; */
}
@media (max-width: 768px) {
  .quote {
    padding: 30px;
    border: 0px;
    color: black;
    font-size: 1.7rem;
    padding-right: 1rem;
  }
}

.quote p:first-child {
  font-family: "Poppins-sembold";
  font-size: 2rem;
  margin: 0;
  text-align: left;
}
.quote p.maspequeno {
  font-family: "Poppins-med";
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}

.hook.sitelodijeramos {
  display: flex;
  border-bottom: none;
  position: relative;
  padding-bottom: 0;
}
.hook.sitelodijeramos p span {
  font-size: 2.4rem;
}
.hook.sitelodijeramos p {
  justify-content: center;
  margin: auto;
  padding-top: 0;
  padding: 0;
  color: #000000;
  font-size: 2.5rem;
}
.hook.sitelodijeramos ~ .quote {
  right: 100%;
  margin: 0;
  padding: 0;
  padding-left: 25rem;
  padding-bottom: 10px;
  color: grey;
}

@media (max-width: 768px) {
  .hook.sitelodijeramos ~ .quote {
    right: 0%;
    padding-left: 1rem;
  }
}

.iconsvg.arrow-figure {
  position: absolute;
  left: 60%;
  transform: translate(15rem, -51%) rotate(350deg);
  max-width: 100%;
}
@media (max-width: 768px) {
  .iconsvg.arrow-figure {
    display: none;
  }
}

.iconsvg.arrow-figure .cls-1:hover {
  fill: #ffd133;
}

section#efficiency h2,
section#efficiency details {
  margin: auto;
}

/* DETAILS */
#efficiency h2 {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0 2rem 0;
  font-family: "Poppins-med";
}
#efficiency {
  font-family: "Poppins-med";
}

#efficiency li {
  list-style-type: none;
}

.comparativa {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5rem;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgb(251, 251, 248);
}

@media (max-width: 768px) {
  .comparativa {
    gap: 1rem;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: rgb(251, 251, 248);
  }
}

.digitalks-logo p span.color-black {
  color: #000000;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .digitalks-logo p span.color-black {
    color: #000000;
    font-size: 1.5rem;
  }
}

.comparativatradicional {
  position: relative;
}

.comparativatradicional p,
.comparativatradicional ul {
  z-index: 3;
  position: relative;
}

.iconsvg.xfigure {
  position: absolute;
  transform: translate(5rem, -16rem) rotate(100deg);
  max-width: 10rem;
  opacity: 0.3;
  z-index: 0;
}

@media (max-width: 768px) {
  .iconsvg.xfigure {
    position: absolute;
    transform: translate(6rem, -12rem) rotate(100deg);
    max-width: 4rem;
    opacity: 0.3;
    z-index: 0;
  }
}

.iconsvg.xfigure .cls-1:hover {
  fill: red;
  opacity: 0.3;
}

/* HUMAN IA */

#human-ia h2,
#human-ia p {
  justify-self: center;
}

#human-ia {
  max-width: 80%;
  margin: auto;
  font-family: "Poppins-nor";
  font-size: 1.4rem;
  border-top: 1px rgb(251, 251, 248) solid;
  padding: 10px;
}

#human-ia h2,
#human-iah3 {
  font-family: "Poppins-med";
}

.proceso-humania {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.proceso-humania figure {
  display: flex;
}

.proceso-humania svg {
  margin: auto; /* Centra la imagen */
}

.iconsvg.texto-figure svg,
.iconsvg.bocavox-figure svg,
.iconsvg.lapiz-figure svg,
.iconsvg.brain-figure svg {
  height: 100px;
}

@media (max-width: 768px) {
  .iconsvg.texto-figure svg,
  .iconsvg.bocavox-figure svg,
  .iconsvg.lapiz-figure svg,
  .iconsvg.brain-figure svg {
    height: 65px;
  }
}
.proceso-humania figure {
  display: flex;
  flex-flow: column;
}
.proceso-humania figure {
  flex: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .proceso-humania figure p {
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
  }
}

/* DEMOS */

#demos {
  font-family: "Poppins-nor";
  padding: 10px;
  background-color: #000000;
  padding-left: 25px;
  padding-bottom: 5rem;
}

#demos h2,
#demos h3 {
  font-family: "Poppins-med";
  color: white;
}

.demos-iframes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}
@media (max-width: 768px) {
  .demos-iframes h3 {
    text-align: center;
  }

  .demos-iframes article,
  .demos-iframes .demo-rrss > p:first-child,
  .demos-iframes article section {
    margin: auto;
    padding: 0;
  }

  .demos-iframes {
    flex-direction: column; /* Mantén la estructura de columna */
  }
}

.demos-iframes h3,
.demos-iframes article iframe {
  margin: 0;
  padding: 0;
  text-align: center;
}

.demos-iframes h3 {
  border-top: rgb(77, 77, 77, 0.2) 1px solid;
}

/* GRID AREAS DEMOS */
.demos-iframes .audiolibros,
.demos-iframes .audiodescripciones,
.demos-iframes .demo-rrss,
.demos-iframes .elearnings {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas: ". left2grid right3grid .";
}
.demos-iframes .left2grid {
  grid-area: left2grid;
}
.demos-iframes .right3grid {
  grid-area: right3grid;
  justify-self: center;
}

/* .demos-iframes .audiolibros,
.demos-iframes .audiodescripciones,
.demos-iframes .demo-rrss,
.demos-iframes .elearnings {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  justify-content: space-evenly;
  padding: 0 10rem 0 5rem;
}
@media (max-width: 768px) {
  .demos-iframes .audiolibros,
  .demos-iframes .audiodescripciones,
  .demos-iframes .demo-rrss,
  .demos-iframes .elearnings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 10rem 0 5rem;
  }
} */
.demos-iframes .audiodescripciones > iframe {
  margin: 0px 10px 10px 0px;
}

.demos-iframes article.audiodescripciones .iframes-ad {
  gap: 15px;
}

.demos-iframes article p,
.demos-iframes .demo-rrss > p {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  color: grey;
  font-size: 0.9rem;
}

.demos-iframes .demo-rrss > p:first-child {
  padding-bottom: 0;
  padding-top: 10px;
}

.demos-iframes h3 {
  padding-top: 50px;
}

.demos-iframes article.audiodescripciones iframe,
.demos-iframes article.elearnings iframe,
.demos-iframes article.audiolibros iframe,
.demos-iframes article.demo-rrss iframe {
  border-radius: 50px;
  max-width: 400px;
  height: 60px;
}

.demo-rrss p > span,
.audiolibros p > span {
  color: white;
}
/* svg AUDIOLIBROS */
.audiolibros figure.iconsvg.libro-figure .cls-1 {
  fill: #fff;
}
.iconsvg.libro-figure .cls-2 {
  fill: #4d4d4d;
}
.iconsvg.libro-figure .cls-3 {
  fill: #ffd133;
}
.iconsvg.libro-figure .cls-3:hover {
  fill: grey;
}
/* svg WEB y RRSS */
.demo-rrss figure.iconsvg.web-figure .cls-1 {
  fill: #fff;
}
.iconsvg.web-figure .cls-2 {
  fill: #4d4d4d;
}
.iconsvg.web-figure .cls-3 {
  fill: #ffd133;
}

article.demo-rrss {
  display: flex;
}
/* svg AUDIODESCRIPCIONES */
.audiodescripciones figure.iconsvg.audio-description .cls-1 {
  stroke: #000;
  fill: #ffd133;
  stroke-miterlimit: 10;
}
.audiodescripciones figure.iconsvg.audio-description .cls-2 {
  fill: #ffd133;
  stroke-width: 2.5px;
  stroke-miterlimit: 10;
  stroke: #4d4d4d;
}
.audiodescripciones figure.iconsvg.audio-description .cls-3 {
  fill: #fff;
  stroke-miterlimit: 10;
  stroke: #4d4d4d;
}
/* svg E-LEARNINGS */
.elearnings figure.iconsvg.mundo-figure2 .cls-1 {
  fill: #4d4d4d;
}
.elearnings figure.iconsvg.mundo-figure2 .cls-1:hover {
  fill: #4d4d4d;
}
.elearnings figure.iconsvg.mundo-figure2 .cls-2 {
  fill: white;
}
.elearnings figure.iconsvg.mundo-figure2 .cls-2:hover {
  fill: #ffd133;
}

/* ---------- */
article.demo-rrss {
  display: flex;
}

.demos-iframes .iconsvg {
  width: 15rem;
  align-self: center;
}
@media (max-width: 768px) {
  .demos-iframes .iconsvg {
    width: 5rem;
    align-self: center;
  }
}
.demos-iframes .iconsvg.audio-description .cls-1 {
  fill: #ffd133;
}
.demos-iframes .iconsvg.audio-description .cls-1:hover {
  fill: white;
}
.demos-iframes .iconsvg.libro-figure {
  fill: #ffd133;
}
.demos-iframes .iconsvg.libro-figure .cls-1 {
  fill: black;
}
.demos-iframes .iconsvg.libro-figure .cls-1:hover {
  fill: white;
}
.demos-iframes .iconsvg.web-figure .cls-1 {
  fill: #ffd133;
}
.demos-iframes .iconsvg.web-figure .cls-1:hover {
  fill: white;
}
.demos-iframes .iconsvg.mundo-figure2 .cls-2 {
  fill: #ffd133;
}
.demos-iframes .iconsvg.mundo-figure2 .cls-1:hover {
  fill: white;
}

/* CONTACTO */

#contact-form {
  font-family: "Poppins-med";
  padding: 10px;
  margin: auto;
  justify-content: center;
}

#contact-form > section {
  font-size: larger;
  text-align: center;
}
#contact-form {
  display: flex;
  flex-direction: column;
}
#contact-form > section:nth-of-type(2) {
  justify-self: center;
  text-align: center;
}
#contact-form address:hover {
  color: grey;
  cursor: alias;
}
.iconsvg.sobre-figure {
  justify-self: center;
  max-width: 15%;
}

#contact-form h2 {
  padding-top: 10px;
  margin: 0;
}

/* FOOTER */
footer {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  align-items: baseline;
}

footer section {
  display: flex;
  flex-wrap: wrap; /* Adaptar elementos en pantallas pequeñas */
  justify-content: space-between;
  align-items: baseline;
}
footer p {
  font-family: "Poppins-sembold";
  font-size: clamp(2rem, 3vw, 3rem); /* Tamaño fluido */
  letter-spacing: -0.08rem;
  margin: 0;
}
footer p span:first-child {
  font-weight: 600;
  color: #ffd133;
}
footer p span:nth-of-type(2) {
  color: white;
}
footer p span:nth-of-type(3) {
  color: #ccc;
  font-size: clamp(1.2rem, 2.5vw, 2rem); /* Tamaño fluido */
}

footer .rrss i {
  color: #ffd133;
  font-size: 1.5rem;
}
footer .rrss i:hover {
  color: rgb(14, 79, 181, 0.5);
}

footer nav {
  padding: 1rem;
}
footer nav a {
  margin: 0;
  padding: 0;
  color: white;
}
footer nav a:hover {
  margin: 0;
  padding: 0;
  color: #ffd133;
}

/* RESPONSIVE DESIGN */

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  header section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header nav ul {
    flex-direction: column; /* Apila los elementos del menú */
    gap: 10px;
    align-items: center;
    padding-left: 0;
  }

  footer section {
    flex-direction: column; /* Apilar elementos del footer */
    text-align: center;
  }
}

.demos-iframes article section {
  display: flex;
  flex-direction: column;
}
.demos-iframes article iframe {
  justify-content: center;
}

/* Pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
  header section {
    justify-content: space-around; /* Distribuir elementos */
    padding: 10px 40px;
  }

  footer section {
    justify-content: space-around;
  }

  main section h1 {
    font-size: 1.8rem; /* Ajustar tamaño de texto */
  }

  header nav ul {
    gap: 15px;
  }
}

/* Pantallas grandes (escritorios) */
@media (min-width: 1025px) {
  header section {
    padding: 10px 50px; /* Añadir espacio extra */
  }

  footer section {
    padding: 10px 50px;
  }
}
