@font-face {
  font-family: "Montserrat-reg";
  src: url("./fonts/fonts/lato-montserrat/Montserrat-Regular.eot");
  src: url("./fonts/fonts/lato-montserrat/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Regular.woff2")
      format("woff2"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Regular.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Regular.ttf")
      format("truetype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Regular.svg#Montserrat-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("./fonts/fonts/lato-montserrat/Montserrat-SemiBold.eot");
  src: url("./fonts/fonts/lato-montserrat/Montserrat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-SemiBold.woff2")
      format("woff2"),
    url("./fonts/fonts/lato-montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Montserrat-SemiBold.ttf")
      format("truetype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-med";
  src: url("./fonts/fonts/lato-montserrat/Montserrat-Medium.eot");
  src: url("./fonts/fonts/lato-montserrat/Montserrat-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Medium.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Medium.ttf")
      format("truetype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Medium.svg#Montserrat-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-thin";
  src: url("./fonts/fonts/lato-montserrat/Montserrat-Thin.eot");
  src: url("./fonts/fonts/lato-montserrat/Montserrat-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Thin.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Thin.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Thin.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Montserrat-Thin.svg#Montserrat-Thin")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LatoItalic";
  src: url("./fonts/fonts/lato-montserrat/Lato-BlackItalic.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-BlackItalic.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-BlackItalic.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-BlackItalic.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-BlackItalic.svg#Lato-BlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "LatoBlack";
  src: url("./fonts/fonts/lato-montserrat/Lato-Black.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-Black.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-Black.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-Black.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-Black.svg#Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-bold";
  src: url("./fonts/fonts/lato-montserrat/Lato-Bold.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-Bold.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-Bold.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-Bold.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline Italic";
  src: url("./fonts/fonts/lato-montserrat/Lato-HairlineItalic.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-HairlineItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-HairlineItalic.woff2")
      format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-HairlineItalic.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-HairlineItalic.ttf")
      format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-HairlineItalic.svg#Lato-HairlineItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato-bolditalic";
  src: url("./fonts/fonts/lato-montserrat/Lato-BoldItalic.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-BoldItalic.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-BoldItalic.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-BoldItalic.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-BoldItalic.svg#Lato-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato-light";
  src: url("./fonts/fonts/lato-montserrat/Lato-Light.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-Light.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-Light.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-Light.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-normitalic";
  src: url("./fonts/fonts/lato-montserrat/Lato-Italic.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-Italic.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-Italic.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-Italic.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-Italic.svg#Lato-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("./fonts/fonts/lato-montserrat/Lato-Hairline.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-Hairline.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-Hairline.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-Hairline.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-Hairline.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-Hairline.svg#Lato-Hairline")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-reg";
  src: url("./fonts/fonts/lato-montserrat/Lato-Regular.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-Regular.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-Regular.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-Regular.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-Regular.svg#Lato-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-italic";
  src: url("./fonts/fonts/lato-montserrat/Lato-LightItalic.eot");
  src: url("./fonts/fonts/lato-montserrat/Lato-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/lato-montserrat/Lato-LightItalic.woff2") format("woff2"),
    url("./fonts/fonts/lato-montserrat/Lato-LightItalic.woff") format("woff"),
    url("./fonts/fonts/lato-montserrat/Lato-LightItalic.ttf") format("truetype"),
    url("./fonts/fonts/lato-montserrat/Lato-LightItalic.svg#Lato-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "UbuntuBold";
  src: url("./fonts/fonts/ubuntu/Ubuntu-Bold.eot");
  src: url("./fonts/fonts/ubuntu/Ubuntu-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/ubuntu/Ubuntu-Bold.woff2") format("woff2"),
    url("./fonts/fonts/ubuntu/Ubuntu-Bold.woff") format("woff"),
    url("./fonts/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype"),
    url("./fonts/fonts/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/fonts/ubuntu/Ubuntu.eot");
  src: url("./fonts/fonts/ubuntu/Ubuntu.eot?#iefix") format("embedded-opentype"),
    url("./fonts/fonts/ubuntu/Ubuntu.woff2") format("woff2"),
    url("./fonts/fonts/ubuntu/Ubuntu.woff") format("woff"),
    url("./fonts/fonts/ubuntu/Ubuntu.ttf") format("truetype"),
    url("./fonts/fonts/ubuntu/Ubuntu.svg#Ubuntu") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asimov";
  src: url("./fonts/fonts/asimov/AsimovNar.woff2") format("woff2"),
    url("./fonts/fonts/asimov/AsimovNar.woff") format("woff"),
    url("./fonts/fonts/asimov/AsimovNar.ttf") format("truetype"),
    url("./fonts/fonts/asimov/AsimovNar.svg#AsimovNar") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZT Gatha SemBd";
  src: url("./fonts/fonts/gatha/ZTGatha-SemiBold.eot");
  src: url("./fonts/fonts/gatha/ZTGatha-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/fonts/gatha/ZTGatha-SemiBold.woff2") format("woff2"),
    url("./fonts/fonts/gatha/ZTGatha-SemiBold.woff") format("woff"),
    url("./fonts/fonts/gatha/ZTGatha-SemiBold.ttf") format("truetype"),
    url("./fonts/fonts/gatha/ZTGatha-SemiBold.svg#ZTGatha-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icons-digitalks";
  src: url("fonts/icons-digitalks.eot?hvgf99");
  src: url("fonts/icons-digitalks.eot?hvgf99#iefix") format("embedded-opentype"),
    url("fonts/icons-digitalks.ttf?hvgf99") format("truetype"),
    url("fonts/icons-digitalks.woff?hvgf99") format("woff"),
    url("fonts/icons-digitalks.svg?hvgf99#icons-digitalks") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons-digitalks" !important;
  font-style: normal;
  font-weight: 800;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alexa:before {
  content: "\e900";
}
.icon-amazon:before {
  content: "\e901";
}
.icon-android:before {
  content: "\e902";
}
.icon-apple:before {
  content: "\e903";
}
.icon-archive:before {
  content: "\e904";
}
.icon-at:before {
  content: "\e905";
}
.icon-ban:before {
  content: "\e906";
}
.icon-bluetooth:before {
  content: "\e907";
}
.icon-bookmarks:before {
  content: "\e908";
}
.icon-brightness-high:before {
  content: "\e909";
}
.icon-calendar-date:before {
  content: "\e90a";
}
.icon-clock1:before {
  content: "\e90b";
}
.icon-cloud-arrow-down:before {
  content: "\e90c";
}
.icon-cloud-arrow-up:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-controller:before {
  content: "\e90f";
}
.icon-cup-hot:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-earbuds:before {
  content: "\e912";
}
.icon-emoji-smile:before {
  content: "\e913";
}
.icon-envelope-at:before {
  content: "\e914";
}
.icon-envelope:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-file-earmark-text:before {
  content: "\e917";
}
.icon-floppy:before {
  content: "\e918";
}
.icon-gear:before {
  content: "\e919";
}
.icon-geo-alt:before {
  content: "\e91a";
}
.icon-github1:before {
  content: "\e91b";
}
.icon-heart:before {
  content: "\e91c";
}
.icon-hourglass:before {
  content: "\e91d";
}
.icon-house:before {
  content: "\e91e";
}
.icon-link-45deg:before {
  content: "\e91f";
}
.icon-link:before {
  content: "\e920";
}
.icon-linkedin:before {
  content: "\e921";
}
.icon-lock1:before {
  content: "\e922";
}
.icon-mic-mute:before {
  content: "\e923";
}
.icon-mic:before {
  content: "\e924";
}
.icon-mortarboard:before {
  content: "\e925";
}
.icon-people:before {
  content: "\e926";
}
.icon-person-arms-up:before {
  content: "\e927";
}
.icon-piggy-bank:before {
  content: "\e928";
}
.icon-play-circle:before {
  content: "\e929";
}
.icon-playstation:before {
  content: "\e92a";
}
.icon-plug:before {
  content: "\e92b";
}
.icon-qr-code-scan:before {
  content: "\e92c";
}
.icon-question-diamond:before {
  content: "\e92d";
}
.icon-record-circle:before {
  content: "\e92e";
}
.icon-refresh:before {
  content: "\e92f";
}
.icon-repear:before {
  content: "\e930";
}
.icon-skype:before {
  content: "\e931";
}
.icon-slack:before {
  content: "\e932";
}
.icon-spotify:before {
  content: "\e933";
}
.icon-star:before {
  content: "\e934";
}
.icon-steam:before {
  content: "\e935";
}
.icon-tags:before {
  content: "\e936";
}
.icon-telephone:before {
  content: "\e937";
}
.icon-trash:before {
  content: "\e938";
}
.icon-twitch:before {
  content: "\e939";
}
.icon-upload:before {
  content: "\e93a";
}
.icon-whatsapp:before {
  content: "\e93b";
}
.icon-xbox:before {
  content: "\e93c";
}
.icon-youtube:before {
  content: "\e93d";
}
.icon-zoom-in:before {
  content: "\e93e";
}
.icon-zoom-out:before {
  content: "\e93f";
}
.icon-eyedropper:before {
  content: "\e940";
}
.icon-image:before {
  content: "\e941";
}
.icon-headphones:before {
  content: "\e942";
}
.icon-file-empty:before {
  content: "\e943";
}
.icon-barcode:before {
  content: "\e944";
}
.icon-compass:before {
  content: "\e949";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}

/* GENERAL */
body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  font-size: 16px;
  font-family: sans-serif, Helvetica, Arial;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.highlight {
  color: #f0bc5e;
  font-weight: bold;
}

/* HEADER */
header {
  margin: 0px;
}
header section {
  background-color: rgb(251, 251, 248);
  display: flex;
  border-bottom: 2px solid grey;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
/* HEADER LOGO */
header .header-logo {
  display: flex;
  padding: 10px;
}
header p {
  font-family: "ZT Gatha SemBd";
  letter-spacing: -0.01em;
  font-size: 2.5rem;
  margin: 0;
}
header p span:first-child {
  font-weight: 500;
  color: black;
}
header p span:nth-of-type(2) {
  color: #f0bc5e;
}
header p span:nth-of-type(3) {
  color: #ccc;
  font-size: 2rem;
}

/* HEADER MENU */
header nav {
  font-family: "ZT Gatha SemBd";
  padding-right: 10px;
}
header nav ul {
  display: flex;
  gap: 10px;
}
header nav ul li {
  list-style-type: none;
  font-size: 1.2rem;
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav a:hover,
a:hover {
  text-decoration: none;
  color: #f0bc5e;
}

/* MAIN */
main p {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

main section h1 {
  font-family: "Lato-light";
  font-size: 2em;
}
main section p {
  font-size: 1em;
}
section.effectivity figure {
  margin: 1em;
}

section.effectivity {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

main section.first-text ul li {
  list-style-type: none;
  font-family: "Montserrat-reg";
  font-size: 1.1rem;
}

/* DETAILS */
details summary {
  list-style-type: none;
}

details summary span {
  display: inline-block;
  background-color: #f0bc5e;
  color: rgb(251, 251, 248);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 1%;
}
details summary span:hover {
  display: inline-block;
  background-color: rgb(251, 251, 248);
  color: #f0bc5e;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 1%;
  outline: #f0bc5e 1px solid;
  transition: 0.5s ease;
}

details article {
  padding: 2%;
  padding-top: 1%;
  background-color: rgb(251, 251, 248);
  background-image: linear-gradient(rgb(251, 251, 248), white);
  color: black;
}

/* FOOTER */
footer {
  margin: 0px;
}
footer section {
  background-color: rgb(251, 251, 248);
  display: flex;
  border-top: 2px solid grey;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
/* FOOTER LOGO */
footer .logo-footer {
  display: flex;
}
footer p {
  font-family: "ZT Gatha SemBd";
  letter-spacing: -0.01em;
  font-size: 2.5rem;
  margin: 0;
  padding: 10px;
}
footer p span:first-child {
  color: black;
}
footer p span:nth-of-type(2) {
  color: #f0bc5e;
}
footer p span:nth-of-type(3) {
  color: #ccc;
  font-size: 2rem;
}

/* footer MENU */
footer nav {
  font-family: "ZT Gatha SemBd";
  padding-right: 10px;
}
footer nav ul {
  gap: 10px;
}
footer nav ul li {
  list-style-type: none;
  font-size: 1.2rem;
}
footer nav a {
  text-decoration: none;
  color: black;
}
footer nav a:hover,
a:hover {
  text-decoration: none;
  color: #f0bc5e;
}
