@font-face {
    font-family: 'Asimov';
    src: url('AsimovNar.woff2') format('woff2'),
        url('AsimovNar.woff') format('woff'),
        url('AsimovNar.ttf') format('truetype'),
        url('AsimovNar.svg#AsimovNar') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

