/* Pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
  header section {
    justify-content: space-around; /* Distribuir elementos */
    padding: 10px 40px;
  }

  footer section {
    justify-content: space-around;
  }

  main section h1 {
    font-size: 1.8rem; /* Ajustar tamaño de texto */
  }

  header nav ul {
    gap: 15px;
  }
}
